<%-include('header')-%>
<div class="container mt-5">
    <div class="form">
        <form  action="/" method="post">
            <label for="#title" class="form-label" ><h3>Title</h3></label>
            <input type="text" class="form-control" id="title" name="title">
            <label for="#post" class="form-label mt-4" ><h3>Post</h3></label>
            <textarea class="form-control" id="post" rows="10" name="post"></textarea>
            <input type="submit" class="btn btn-lg btn-success mt-3 mb-2" value="Submit">
        </form>
    </div>
</div>
<%-include('footer')-%>
