<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="bg-dark mt-auto" style="opacity: 0.7";>
    <div class="footer text-bg-dark">
        <p style="text-align: center; padding: 25px;">Made by Voldemort_7585</p>
    </div>
    <script src="./script/script.js"></script>
</div>
</body>
</html>