<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="footer mt-auto" style="background: greenyellow;">
        <p style="text-align: center; padding: 25px;">Made by Voldemort_7585</p>
    </div>
    <script src="./script/script.js"></script>
</body>
</html>